<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="envio-exterior">
  <template>
    <style>
      @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
      :host{ display: block; }
      .flag{ width: 140px; height: 140px; }
    </style>

    <div class="container">
      <div class="row">
      </div>

      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
        <template is="dom-repeat" items="{{tipoCambio}}">
             <button class="btn btn-primary" style="pointer-events: none;" type="button">
              <img class="card-img-top" src="https://eajayopacheco2019.s3.us-east-2.amazonaws.com/[[item.code]].png" style="width:24px; height:24px;" alt="[[item.name]]">
               [[item.symbol]] [[item.exchangeRate]]
             </button>
        </template>
      </span>

      <form class="col-md-6" id="registerForm">
        <div class="form-group">
          <label for="cuentaOrigen">Seleccione cuenta de donde enviar:</label>
          <select id="cuentaOrigen" name="cuenta" value="{{cuenta::input}}" class="custom-select" on-change="tomarSaldo" required>
              <option >(Seleccione Cuenta)</option>
              <template is="dom-repeat" items="{{ctaOrigen}}">
                <option value="[[item._id.$oid]]">[[item.cuenta]] - Saldo: COP [[item.saldo]]</option>
              </template>
          </select>
          <div class="invalid-feedback">Seleccione la cuenta </div>
        </div>

        <div class="form-group">
          <label for="CantDolar">Dólares a enviar:</label>
          <input id="CantDolar" type="number" name="dolares" placeholder="USD 100.00" value="{{dolares::input}}" size="10" class="custom-select" required>
          <div class="invalid-feedback">Ingrese los dólares a enviar.</div>
        </div>

        <div class="form-group">
          <label for="paisMonDestino">Cuenta - País destino:</label>
          <select id="paisMonDestino" name="pais" value="{{paisDest::input}}" class="custom-select" on-change="tomaDivisaExt" required>
              <option >(Seleccione País Destino)</option>
              <template is="dom-repeat" items="{{ctaDestino}}">
                <option value="[[item.coddivisa]]">Cta.: [[item.cuentaext]] ([[item.divisa]])</option>
              </template>
          </select>
          <div class="invalid-feedback">Seleccione la cuenta</div>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
        <input  type="reset"  class="btn btn-secondary" value="Restablecer" >

      </form>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EnvioExterior extends Polymer.Element {
      static get is() { return 'envio-exterior'; }
      static get properties() {
        return {
          ctaOrigen: { type: Array, notify: true },
          ctaDestino:{ type: Array, notify: true },
          tipoCambio: { type: Array, notify: true },
          usuario:    { type: Array, notify: true  },
          noCargadosProd: { type: Boolean, value: true },
          noCargadosMone: { type: Boolean, value: true },
          respuesta:  { type: Object },
          propUser:   { type: String },
          cambioCOP:  { type: Number },
          cambioEXT:  { type: Number },
          saldoCta:  { type: Number },
          nroCta:    { type: Number },
          nroCtaExt: { type: Number }
        };
      }

      ready() {
        super.ready();
        this.$.registerForm.addEventListener('submit', (e) => {
          e.preventDefault();
          this.enviarDinero();
        })

        let datos = localStorage.getItem('datos');

        if(!datos) {
          alert('¡Hubo un error! Por favor vuelva a la página anterior.');
        }else{
          var usuario = JSON.parse(datos);
          this.listaProductos(usuario.documento);
          this.listaTipoCambio();
          this.listaCtaDestino();
        }
      }
      tomarSaldo(){
        for (var i=0; i<this.ctaOrigen.length; i++) {
          if(this.cuenta == this.ctaOrigen[i]._id.$oid){
            this.saldoCta = this.ctaOrigen[i].saldo;
            this.nroCta = this.ctaOrigen[i].cuenta;
          }
        }
      }
      tomaDivisaExt(){
        for (var i=0; i<this.tipoCambio.length; i++) {
          if(this.paisDest == this.tipoCambio[i].code){
            this.cambioEXT = this.tipoCambio[i].exchangeRate;
          }
        }
        for (var j=0; j<this.ctaDestino.length; j++) {
          if(this.paisDest == this.ctaDestino[j].coddivisa){
            this.nroCtaExt = this.ctaDestino[j].cuentaext;
          }
        }
      }
      listaProductos(doc){
          //var url = "http://localhost:3002/productos/" + doc + "/01"; //Con docker
          var url = "http://localhost:3000/productos/" + doc + "/01";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.ctaOrigen = JSON.parse(request.responseText);
          var arr = Array.from(this.ctaOrigen); //"Lista Ctas origen:" + arr[0]._id.$oid
          this.noCargadosProd = false;
      }
      listaTipoCambio(){
          //var url = "http://localhost:3002/tipocambio"; //Con docker
          var url = "http://localhost:3000/tipocambio";   //En local (con: polymer serve --open)
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.tipoCambio  = JSON.parse(request.responseText);
          //Aquí obtengo el cambio de COLOMBIA, se puede por url API pero necesitaría una cuenta premium :(
          var arr = Array.from(this.tipoCambio);
          this.cambioCOP = arr[0].exchangeRate
          this.noCargadosMone = false;
      }
      listaCtaDestino(){
          //var url = "http://localhost:3002/cuentasexterior"; //Con docker
          var url = "http://localhost:3000/cuentasexterior";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.ctaDestino = JSON.parse(request.responseText); //quitamos el VALUE en: JSON.parse(request.responseText).value;
          this.noCargadosProd = false;
      }
      enviarDinero(){
        var hoy = new Date();
        var dd = hoy.getDate();
        var mm = hoy.getMonth()+1;
        var yyyy = hoy.getFullYear();
        if(dd<10) { dd='0'+dd; }
        if(mm<10) { mm='0'+mm; }
        var fecha = yyyy+'-'+mm+'-'+dd;
        var monto = (this.cambioCOP * this.dolares).toFixed(2);

        //Validamos que el monto a transferir no sea mayor al SALDO de cuenta
        if(this.saldoCta > monto){
                if (confirm("La persona recibirá: " + this.paisDest + ' ' + (this.cambioEXT*this.dolares).toFixed(2) )) {
                  //1) Actualizar el saldo de cuenta origen
                  //----------------------------------------
                  //var url = "http://localhost:3002/actualizaSaldo/" + this.cuenta ; //Con docker
                  var url = "http://localhost:3000/actualizaSaldo/" + this.cuenta ;   //En local (con: polymer serve --open)
                  var request = new XMLHttpRequest();
                  request.open("POST", url, false);
                  request.setRequestHeader("Accept", "application/json");
                  request.setRequestHeader("Content-Type", "application/json");
                  var actSaldo = { "saldo": (this.saldoCta - monto).toFixed(2) }
                  var body = JSON.stringify(actSaldo);
                  request.send(body);
                  this.respuesta = request.responseText;

                  if(this.respuesta){
                      //2) Insertar movimiento
                      //----------------------------------------
                      //var url = "http://localhost:3002/registrarEnvio"; //Con docker
                      var url = "http://localhost:3000/registrarEnvio";   //En local (con: polymer serve --open)
                      var request = new XMLHttpRequest();
                      request.open("POST", url, false);
                      request.setRequestHeader("Accept", "application/json");
                      request.setRequestHeader("Content-Type", "application/json");
                      var envio = {"cuenta": this.nroCta ,"tipomovimiento":"debito", "monto": -1*monto ,"fecha": fecha ,"desccompania":"Envío exterior " + this.nroCtaExt, "latitud":4.623535,"longitud":-74.074551}
                      var body = JSON.stringify(envio);
                      request.send(body);
                      this.respuesta = request.responseText;
                      if(this.respuesta){
                        alert("¡El envío de dinero fue satisfactorio!");
                      }
                  }
                  this.noCargados = false;

                }
        }else{
          alert("El monto " + monto + " que desea enviar es superior al disponible en su cuenta.");
        }

      }
    }

    window.customElements.define(EnvioExterior.is, EnvioExterior);
  </script>
</dom-module>
