<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="mapa-movimiento">
  <template>
  <style>
    @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
    @import url(https://unpkg.com/leaflet@1.5.1/dist/leaflet.css);

    :host{ display: block; }
    .flag{ width: 140px; height: 140px; }
  </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12" >Mapa de Movimientos</h1>
        <div id="mapid" style="width: 600px; height: 400px;"></div>
      </div>
      <div class="row table-responsive">
      </div>
    </div>

  </template>

  <script>
   class MapaMovimientos extends Polymer.Element {
      static get is() { return 'mapa-movimiento'; }
      static get properties() {
        return {
          productos:   { type: Array, notify: true },
          movimientos: { type: Array, notify: true },
          noCargadosProd: { type: Boolean, value: true },
          noCargadosMovi: { type: Boolean, value: true },
          respuesta:  { type: Object }
        };
      }
      ready() {
        super.ready();
        let datos = localStorage.getItem('datos');
        var usuario = JSON.parse(datos);

        if(datos) {
          var usuario = JSON.parse(datos);

          //********* Empieza sección de mapa ***********
          var mymap = L.map('mapid').setView([4.807638, -74.038309], 13);

        	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        		maxZoom: 18,
        		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' + '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' + 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        		id: 'mapbox.streets'
        	}).addTo(mymap);

        	L.marker([4.807638, -74.038309]).addTo(mymap)
        		.bindPopup("<b>¡Aquí fue tu transacción!</b> <br/>Centro Comercial BIMA.").openPopup();

        	var popup = L.popup();
        	function onMapClick(e) {
        		popup
        			.setLatLng(e.latlng)
        			.setContent("You clicked the map at " + e.latlng.toString())
        			.openOn(mymap);
        	}

        	mymap.on('click', onMapClick);
          //********* Acaba sección de mapa ***********
        }
      }
    }

    window.customElements.define(MapaMovimientos.is, MapaMovimientos);

  </script>
</dom-module>
