<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="register-user">
  <template>
    <style>
      @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
      :host{ display: block; }
      .flag{ width: 140px; height: 140px; }
    </style>

    <div class="container">
      <div class="row">
      </div>

      <form class="col-md-6" id="registerForm">
        <div class="form-group">
          <label for="tipoDocumento">Tipo documento</label>
          <select id="tipoDocumento" name="tipoDoc" value="{{tipoDoc::input}}" class="custom-select" required>
            <option >(Seleccione Tipo Documento)</option>
            <option value="DOC01">Cédula de Ciudadanía</option>
            <option value="DOC02">Cédula de Extranjería</option>
            <option value="DOC03">Pasaporte</option>
          </select>
          <div class="invalid-feedback">Seleccione el Tipo Documento</div>
        </div>

        <div class="form-group">
          <label for="NroDocumento">Nro Documento</label>
          <input id="NroDocumento" type="text" name="documento" placeholder="Número de Documento" value="{{documento::input}}" size="10" class="custom-select" required>
          <div class="invalid-feedback">Ingrese su Nro. Documento</div>
        </div>

        <div class="form-group">
          <label for="Email">Email</label>
          <input id="Email" type="email" placeholder="name@example.com" value="{{email::input}}" size="40" class="custom-select" required>
          <div class="invalid-feedback">Ingrese su email</div>
        </div>

        <div class="form-group">
          <label for="Pass">Password</label>
          <input id="Pass" type="password" class="form-control" placeholder="Password" value="{{password::input}}" size="15" class="custom-select" required>
          <div class="invalid-feedback">Ingrese su email</div>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
        <input  type="reset"  class="btn btn-secondary" value="Restablecer" >
      </form>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegisterUser extends Polymer.Element {
      static get is() { return 'register-user'; }
      static get properties() {
        return {
          usuario:    { type: Array, notify: true  },
          noCargados: { type: Boolean, value: true },
          respuesta:  { type: Object },
          propUser:   { type: String  }
        };
      }

      ready() {
        super.ready();
        this.$.registerForm.addEventListener('submit', (e) => {
          e.preventDefault();
          this.registrarUsuario();
        })
      }

      registrarUsuario(){
        //var url = "http://localhost:3002/register"; //Con docker
        var url = "http://localhost:3000/register";   //En local (con: polymer serve --open)
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoUsuario = {"tipoDoc": this.tipoDoc, "documento": this.documento,
                            "email": this.email, "password": this.password};
        var body = JSON.stringify(nuevoUsuario);
        request.send(body);
        this.respuesta = request.responseText;
        if(this.respuesta){
          alert("¡Usuario registrado!");
        }
        this.noCargados = false;
      }
    }

    window.customElements.define(RegisterUser.is, RegisterUser);
  </script>
</dom-module>
