<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-user">
  <template>
    <style>
      @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
      :host{ display: block; }
      .flag{ width: 140px; height: 140px; }
    </style>

    <div class="container">
        <form class="col-md-6" id="loginForm">
          <div class="form-group">
            <label for="tipoDocumento2">Tipo documento</label>
            <select id="tipoDocumento2" name="tipoDoc2" value="{{tipoD::input}}" class="custom-select" required>
              <option >(Seleccione Tipo Documento)</option>
              <option value="DOC01">Cédula de Ciudadanía</option>
              <option value="DOC02">Cédula de Extranjería</option>
              <option value="DOC03">Pasaporte</option>
            </select>
            <div class="invalid-feedback">Seleccione el Tipo Documento</div>
          </div>

          <div class="form-group">
            <label for="NroDocumento2">Nro Documento</label>
            <input id="NroDocumento2" type="text" name="documento2" placeholder="Número de Documento" value="{{doc::input}}" size="10" class="custom-select" required>
            <div class="invalid-feedback">Ingrese su Nro. Documento</div>
          </div>

          <div class="form-group">
            <label for="Pass2">Password</label>
            <input id="Pass2" type="password" class="form-control" placeholder="Password" value="{{pass::input}}" size="15" class="custom-select" required>
            <div class="invalid-feedback">Ingrese su email</div>
          </div>

          <button type="submit"   class="btn btn-primary">Ingresar</button>
          <input  type="reset"  class="btn btn-secondary" value="Restablecer" >
        </form>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUser extends Polymer.Element {
      static get is() { return 'login-user'; }
      static get properties() {
        return {
          usuario:    { type: Array, notify: true  },
          noCargados: { type: Boolean, value: true },
          respuesta:  { type: Object },
          propUser:   { type: String  }
        };
      }

      ready() {
        super.ready();
        this.$.loginForm.addEventListener('submit', (e) => {
          e.preventDefault();
          this.loginUsuario();
        })
      }

      loginUsuario(){
        //var url = "http://localhost:3002/login"; //Con docker
        var url = "http://localhost:3000/login/" + this.tipoD + "/" + this.doc + "/" + this.pass;   //En local (con: polymer serve --open)
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        var response = JSON.parse(request.responseText);
        this.noCargados = false;

        if(response.code == 401) {
          alert(response.errorMessage);
        } else {
          this.guardarDatos(response);
          setTimeout(() => location.href = "http://localhost:8081/profile.html",100)
        }
      }
      guardarDatos(datos) {
        localStorage.setItem('datos', JSON.stringify(datos));
      }
    }

    window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>
