<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="lista-productos">
  <template>
  <style>
    @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

    :host{ display: block; }
    .flag{ width: 140px; height: 140px; }
  </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Lista de Productos</h1>
      </div>

      <div class="row table-responsive">
        <table class="table table-striped">
          <thead class="table-primary">
            <th>Tipo Prod.</th>
            <th>Nro. tarjeta</th>
            <th>Cuenta</th>
            <th>Saldo</th>
            <th></th>
          </thead>
          <tbody id="tbody1">
            <template is="dom-repeat" items="{{productos}}">
              <tr>
                <td>[[item.tipo]]</td>
                <td>[[item.tarjeta]]</td>
                <td>[[item.cuenta]]</td>
                <td id="pr{{index}}" class="{{addClass(item)}}">[[processItem(item, index)]]</td>
                <td><button class="btn btn-primary" on-click="obtenerMovimientosProd" type="button" name="button" >Ver Mov</button></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12"><br /></h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Movimientos</h1>
      </div>
      <div class="row table-responsive">
        <table class="table table-striped">
          <thead class="table-primary">
            <th>Tipo Movi.</th>
            <th>Empresa</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th></th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>[[item.tipomovimiento]]</td>
                <td>[[item.desccompania]]</td>
                <td>[[item.fecha]]</td>
                <td id="mov{{index}}" class="{{addClassMov(item)}}">[[processItemMov(item, index)]]</td>
                <td><button class="btn btn-primary" on-click="verMapa" type="button" name="button">Mapa</button></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListaProductos extends Polymer.Element {
      static get is() { return 'lista-productos'; }
      static get properties() {
        return {
          productos:   { type: Array, notify: true },
          movimientos: { type: Array, notify: true },
          noCargadosProd: { type: Boolean, value: true },
          noCargadosMovi: { type: Boolean, value: true },
          respuesta:  { type: Object }
        };
      }

      ready() {
        super.ready();
        let datos = localStorage.getItem('datos');

        if(!datos) {
          alert('¡Hubo un error! Por favor vuelva a logearse.' + JSON.parse(datos));
        }else{
          var usuario = JSON.parse(datos);
          //alert('¡Bienvenido ' + usuario.email + '!');
          this.obtenerProductos(usuario.documento);
        }
      }

      addClass(item) {
        if (item.saldo < 0) {
          return 'red';
        } else {
          return 'green';
        }
      }

      processItem(item,index){
        var element = this.shadowRoot.querySelector('#pr'+index);
        return '$ ' + new Intl.NumberFormat('es-CO').format(item.saldo);
      }
      obtenerProductos(doc){
          //var url = "http://localhost:3002/productos/" + doc + "/00"; //Con docker
          var url = "http://localhost:3000/productos/" + doc + "/00";
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.productos = JSON.parse(request.responseText); //quitamos el VALUE en: JSON.parse(request.responseText).value;
          this.noCargadosProd = false;
      }

      addClassMov(item) {
        if (item.saldo < 0) {
          return 'red';
        } else {
          return 'green';
        }
      }
      processItemMov(item,index){
        //var element = this.shadowRoot.querySelector('#mov'+index);
        return '$ ' + new Intl.NumberFormat('es-CO').format(item.monto);
      }
      obtenerMovimientosProd(event){
        let cta = event.model.item.cuenta;
        let trj = event.model.item.tarjeta;
        if (typeof cta === 'undefined'){ cta = "NULO"; }
        //var url = "http://localhost:3002/movimientos/" + cta + "/" + trj; //Con docker
        var url = "http://localhost:3000/movimientos/" + cta + "/" + trj;
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        this.noCargadosMovi = false;
      }
      verMapa(event){
        location.href = "http://localhost:8081/mapa.html?lat=" + event.model.item.latitud + "&lon=" + event.model.item.longitud + "&des=" + event.model.item.desccompania;
      }
    }

    window.customElements.define(ListaProductos.is, ListaProductos);

  </script>
</dom-module>
