<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html"-->

<dom-module id="lista-ofertas">
  <template>
  <style>
    @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

    :host{ display: block; }
    .flag{ width: 140px; height: 140px; }
  </style>
    <div class="container"  hidden="{{!isOffer}}">
      <div class="row">
        <h1 class="col-lg-12">Ofertas  pensadas en Ti ;)</h1>
      </div>

      <div class="row table-responsive">
        <table class="table table-active">
          <thead class="table-dark">
            <th>Tipo Prod.</th>
            <th>Descripción</th>
            <th>Monto</th>
            <th></th>
            <th></th>
          </thead>
          <tbody id="tbody1">
            <template is="dom-repeat" items="{{ofertas}}">
              <tr>
                <td>[[item.tipo]]</td>
                <td>[[item.descripcion]]</td>
                <td>[[item.valor]]</td>
                <!--td id="pr{{index}}" class="{{addClass(item)}}">[[processItem(item, index)]]</td-->
                <td><button class="btn btn-primary" on-click="obtenerOfertasInfo" type="button" name="button" >Lo quiero!</button></td>
                <td><button class="btn btn-secondary-outline" on-click="bajaOfertas" type="button" name="button" >No ver más</button>
              </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListaOfertas extends Polymer.Element {
      static get is() { return 'lista-ofertas'; }
      static get properties() {
        return {
          ofertas:   { type: Array, notify: true },
//          movimientos: { type: Array, notify: true },
          noCargadosOfer: { type: Boolean, value: true },
//          noCargadosMovi: { type: Boolean, value: true },
          respuesta:  { type: Object },
          isOffer: {
            type: Boolean,
            value: false
          },

        };
      }

      ready() {
        super.ready();
        let datos = localStorage.getItem('datos');

        if(!datos) {
          alert('¡Hubo un error! Por favor vuelva a logearse.' + JSON.parse(datos));
        }else{
          var usuario = JSON.parse(datos);
          //alert('¡Bienvenido ' + usuario.email + '!');
          this.obtenerOfertas(usuario.documento);
        }
      }

      addClass(item) {
        if (item.monto < 0) {
          return 'red';
        } else {
          return 'green';
        }
      }


      processItem(item,index){
        var element = this.shadowRoot.querySelector('#pr'+index);
        return '$ ' + new Intl.NumberFormat('es-CO').format(item.saldo);
      }
      obtenerOfertas(doc){
          //var url = "http://localhost:3002/productos/" + doc + "/00"; //Con docker
          var url = "http://localhost:3000/ofertas/" + doc ;
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.ofertas = JSON.parse(request.responseText); //quitamos el VALUE en: JSON.parse(request.responseText).value;
          this.noCargadosOfer = false;
          if (this.ofertas.length > 0){
            this.isOffer= true;
    //        console.log('true en isOffer' + this.isOffer +' ' + this.ofertas.length)
          } else{
    //        console.log('false en isOffer' + this.isOffer +' ' + this.ofertas.length)
            this.isOffer= false;
          }
      }
      obtenerOfertasInfo(event){
        let idMongo    = event.model.item._id.$oid;
        let idprod     = event.model.item.tipo;
        let beneficio  = event.model.item.descripcion;
        let valor      = event.model.item.valor;

        //if (typeof idMongo === 'undefined'){ cta = "NULO"; }
        //var url = "http://localhost:3002/movimientos/" + cta + "/" + trj; //Con docker
        var url = "http://localhost:3000/tomarofertas/" + idMongo ;
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.respuesta = request.responseText;
        if(this.respuesta){
          alert("¡Felicidades has contratado un " + idprod + "que te generará beneficios " + beneficio + "por " + valor);
        }

      }
      bajaOfertas(event){
        let idMongo = event.model.item._id.$oid;
        //if (typeof idMongo === 'undefined'){ cta = "NULO"; }
        //var url = "http://localhost:3002/movimientos/" + cta + "/" + trj; //Con docker
        var url = "http://localhost:3000/bajaofertas/" + idMongo ;
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.respuesta = request.responseText;
        if(this.respuesta){
          alert("¡dada de baja OK, OFerta no volvera a ser mostrada!");
        }
      }
/*
      addClassMov(item) {
        if (item.saldo < 0) {
          return 'red';
        } else {
          return 'green';
        }
      }
      processItemMov(item,index){
        //var element = this.shadowRoot.querySelector('#mov'+index);
        return '$ ' + new Intl.NumberFormat('es-CO').format(item.monto);
      }
      obtenerMovimientosProd(event){
        let cta = event.model.item.cuenta;
        let trj = event.model.item.tarjeta;
        if (typeof cta === 'undefined'){ cta = "NULO"; }
        //var url = "http://localhost:3002/movimientos/" + cta + "/" + trj; //Con docker
        var url = "http://localhost:3000/movimientos/" + cta + "/" + trj;
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        this.noCargadosMovi = false;
      }
      verMapa(event){
        location.href = "http://localhost:8081/mapa.html?lat=" + event.model.item.latitud + "&lon=" + event.model.item.longitud + "&des=" + event.model.item.desccompania;
      }
*/
    }

    window.customElements.define(ListaOfertas.is, ListaOfertas);

  </script>
</dom-module>
